# ===========================
# API keys & secrets
# ===========================
config/.Renviron

# ===========================
# Large raw API responses
# ===========================
data/raw/*.json
*.zip

# ===========================
# R session files
# ===========================
*.Rhistory
.Rproj.user/
.RData
.Rproj.user

# ===========================
# OS / editor junk
# ===========================
.DS_Store
Thumbs.db
*~
